%fr-light {
   font-family: 'FiraSans-Light', sans-serif;
   font-weight: 300;
}

%fr-regular {
   font-family: 'FiraSans-Regular', sans-serif;
   font-weight: 400;
}

%fr-medium {
   font-family: 'FiraSans-Medium', sans-serif;
   font-weight: 500;
}

%fr-thin {
   font-family: 'FiraSans-Thin', sans-serif;
   font-weight: 800;
}

%fr-extrabold {
   font-family: 'FiraSans-ExtraBold', sans-serif;
   font-weight: 800;
}